label span{
    color: red;
  }
  .spacebtn{
    display: flex;
    justify-content: space-between;
}

div button{
    margin: 10px;
}

.labelst{
    color: #8f9bb3;
    font-family: Open Sans, sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1rem;
    color: black;
  }