
<div *ngIf="show else message">
    <div [formGroup]="requestPasswordForm" aria-labelledby="title">
  
      <div class="form-control-group">
          <label for="input-email">Email address:</label>
          <input  nbInput
                  autofocus
                  fullWidth
                  fieldSize="large"
                  id="input-email"
                  formControlName="email"
                  [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : ''"
                  [attr.aria-invalid]="email.invalid && email.touched ? true : null"
                  placeholder="Email address">
                  <span>
                    <span style="color:#dc3545" *ngIf=" (email.touched) && (email.errors?.required)">
                        Email is a required Field !!!
                      </span>
                      <span style="color:#dc3545" *ngIf=" (email.touched) && (email.errors?.email)">
                          please enter a valid Email !!!
                        </span>
                    </span>
        </div>
  
  
    <button nbButton
            fullWidth
            status="primary"
            size="large"
            [disabled]="submitted || !requestPasswordForm.valid"
            [class.btn-pulse]="submitted"
            (click) = "onSubmit()">
      {{submit}}
    </button>
  </div>
  
  <section class="sign-in-or-up" aria-label="Sign in or sign up">
    <p><a class="text-link" routerLink="../login">Back to Log In</a></p>
    <!-- <p><a routerLink="../register" class="text-link">Register</a></p> -->
  </section>
  
</div>

<ng-template #message>
  <nb-card style="max-height: 200px;">
    <nb-card-header style="text-align: center;">Successful</nb-card-header>
    <nb-card-body>
   <p style="font-size: 1.25rem; font-weight: 300; margin-left: 100px;">Request Successful</p>
    <span style="margin-left: 100px;">
        Kindly check your mail to Reset your password
    </span>
</nb-card-body>
</nb-card>
</ng-template>