<div *ngIf="show else message">

  <h1 id="title" class="title">Change password</h1>
  <p class="sub-title">Please set a new password</p>
  
  <div [formGroup]="resetPasswordForm" aria-labelledby="title">
  
    <div class="form-control-group">
      <label for="input-password">Password:</label>
      <input  nbInput
              autofocus
              fullWidth
              id="input-password"
              formControlName="password"
              type="password"
              [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : ''"
              class="first"
              placeholder="Password">
              <p  class="error-message caption status-danger" *ngIf="password.errors?.required && password.touched">
               Password is a required field!
              </p>
              <p class="error-message caption status-danger" *ngIf=" password.dirty && password.errors?.pattern">
                Minimum of Eight characters and must contain an upper & lower case Letter, a digit and a Special character  !!!
              </p>
    </div>
  
    <div class="form-control-group">
      <label for="input-re-password">Confirm Password:</label>
      <input  nbInput
              fullWidth
              id="input-re-password"
              formControlName="confirmPassword"
              type="password"
              [status]="confirmPassword.dirty ? (confirmPassword.invalid || password.value != confirmPassword.value  ? 'danger' : 'success') : ''"
              placeholder="Password">
              <p  class="error-message caption status-danger" *ngIf="confirmPassword.errors?.required && confirmPassword.touched">
               Comfirm Password is a required field!
              </p>
      <p  class="error-message caption status-danger" *ngIf="password.value != confirmPassword.value && confirmPassword.dirty">
        Password and confirm password does not match!
      </p>
    </div>
  
    <button nbButton status="success" fullWidth [disabled]="!resetPasswordForm.valid || password.value != confirmPassword.value"
      (click)="resetPass()">
      {{submit}}
    </button>
  </div>
</div>
  
  <!-- <section class="sign-in-or-up" aria-label="Sign in or sign up">
    <p><a class="text-link" routerLink="../login">Back to Log In</a></p>
    <p><a class="text-link" routerLink="../register">Register</a></p>
  </section> -->
  
  <ng-template #message>
    <nb-card style="max-height: 200px;">
      <nb-card-header style="text-align: center;">Successful</nb-card-header>
      <nb-card-body>
     <p style="font-size: 1.25rem; font-weight: 300; margin-left: 100px;">Password Reset Successfully</p>
      <span style="margin-left: 100px;">
        Kindly Proceed to Login
        <button nbButton
        style="margin-left: 10px;"
      status="primary"
      size="medium"
      routerLink="../login">
Login
</button>
    </span>
  </nb-card-body>
  </nb-card>
  </ng-template>