
    <nb-card style="min-height: 400px;" [nbSpinner]="processing" nbSpinnerStatus="success" nbSpinnerMessage="Saving ..." nbSpinnerSize="large">
     <nb-card-header style="text-align: center;">Others</nb-card-header>
        <nb-card-body>

        <form [formGroup]="otherSiteForm" >
        <div class="row" >
            <div class="col-md-6">      
                <div class="form-group">
                  <label for="project" >Project<span>*</span></label><br>
                  <nb-select fullWidth placeholder="Select Project" id="project" (selectedChange)="onReportSelect($event)" formControlName="projectId">
                    <nb-option [value]="item.projectId"  *ngFor="let item of projectList">{{item.projectName}}</nb-option>
                  </nb-select>
                </div> 
          <div class="form-group" *ngIf="show">
          <label for="lR" >Logistics Report</label><br>
          <ngx-file-picker [id]="1" (fileSelected)="onFileSelectedLR($event)"></ngx-file-picker>
        </div>
        <div class="form-group" *ngIf="show">
        <label for="MR" >Material Report</label><br>
        <ngx-file-picker [id]="2" (fileSelected)="onFileSelectedMR($event)"></ngx-file-picker>
      </div>
      <div class="form-group" *ngIf="show">
      <label for="QAR" >QA/QC Report</label><br>
      <ngx-file-picker [id]="3" (fileSelected)="onFileSelectedQAC($event)"></ngx-file-picker>
    </div>
        </div>
        <div class="col-md-6" *ngIf="show">      
            <div class="form-group">
                <label for="company" >Company<span>*</span></label><br>
                <nb-select fullWidth placeholder="Select Company" id="company" formControlName="companyId">
                  <nb-option [value]="item.companyId"  *ngFor="let item of companyList">{{item.companyName}}</nb-option>
                </nb-select>
                <span style="color:#dc3545" *ngIf=" (otherSiteForm.get('companyId').touched) && (otherSiteForm.get('companyId').errors?.required)">
                  Company is a required Field !!!
                </span>
              </div>
        <div class="form-group">
        <label for="SPL" >Site Personnel Log</label><br>
        <ngx-file-picker [id]="4" (fileSelected)="onFileSelectedSPL($event)"></ngx-file-picker>
      </div>
      <div class="form-group">
      <label for="MCR" >Management of Change Report</label><br>
      <ngx-file-picker [id]="5" (fileSelected)="onFileSelectedMCR($event)"></ngx-file-picker>
    </div>
        </div>
        </div>
        </form>
</nb-card-body>
<div class="spacebtn" *ngIf="show">
    <button [disabled]="(!this.otherSiteForm.valid) || (!qaqcreport.value && !logisticsReport.value && !sitePersonnelLogReport.value && !materialReport.value && !mocreport.value)" type="button" (click)="onOtherSiteSubmit()"  nbButton [status]="'success'" [size]="'medium'">
      Submit
    </button>
    </div>
</nb-card>
<!-- <br> value:{{otherSiteForm.value | json}} -->
